<script type="text/javascript" src="{{ url_for('static', filename='js/1.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/2.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/3.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/4.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/5.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/6.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/7.js')}}"></script>