<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} — CONSOLE</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython_stdlib.js">
    </script>
        
        {% include "css.html" %}
        {% include "js.html" %}
	</head>
	<body>
		{# {% include "prereload.html" %} #}

        <div class="vh-100 container-fluid">
            {% block content %}{% endblock %}
        </div>

        

        {% block scripts %}{% endblock %}
    </body>
</html>